#!/bin/bash

sleep 5
{% if transmission_web_user != '' %}
/usr/bin/transmission-remote --auth '{{transmission_web_user}}:{{transmission_web_passwd}}' -t $TR_TORRENT_ID -r
{% else %}
/usr/bin/transmission-remote -t $TR_TORRENT_ID -r
{% endif %}
