#jinja2: lstrip_blocks: True
# {{ ansible_managed }}

server {
    listen 80;
    listen [::]:80;
    {% if naemon.host_name.split('.') | count == 2 %}
    server_name {{ naemon.host_name }} www.{{ naemon.host_name }};
    {% else %}
    server_name {{ naemon.host_name }};
    {% endif %}
    include snippets/letsencrypt.conf;

    location / {
        return 301 https://$host$request_uri;
    }
}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    {% if naemon.host_name.split('.') | count == 2 %}
    server_name {{ naemon.host_name }} www.{{ naemon.host_name }};
    {% else %}
    server_name {{ naemon.host_name }};
    {% endif %}
    include conf.d/ssl-params.conf;
    #include snippets/ssl-{{ naemon.host_name }}.conf;

    access_log {{ naemon.logs_dir }}/access.log;
    error_log  {{ naemon.logs_dir }}/error.log;

    location / {
        {% if naemon.http_port.split(':') | count == 2 %}
        proxy_pass http://127.0.0.1:{{ naemon.http_port.split(':')[1] }};
        {% else %}
        proxy_pass http://127.0.0.1:{{ naemon.http_port }};
        {% endif %}
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header X-Forwarded-Port 443;
        proxy_set_header X-Forwarded-Ssl on;
    }
}