---
- name: Install zsh
  pacman: name=zsh,zsh-completions state=present update_cache=yes
  become: yes

- name: Install lsd
  pacman: name=lsd state=present
  become: yes

- name: Install zoxide
  pacman: name=zoxide state=present
  become: yes

- name: Install fuzzy finder (fzf)
  pacman: name=fzf state=present
  become: yes

- name: Install zsh-antidote from AUR
  kewlfft.aur.aur: name=zsh-antidote
  become: yes
  become_user: "{{ aur_user }}"

- name: Install MesloLGS NF from AUR
  kewlfft.aur.aur: name=ttf-meslo-nerd-font-powerlevel10k
  become: yes
  become_user: "{{ aur_user }}"

- name: Copy zsh configuration files to /etc/
  synchronize: src="zsh" dest="/etc/"
  become: yes

- name: Check if .zshrc exists in {{ ansible_facts['env']['HOME'] }}
  stat: path="{{ ansible_facts['env']['HOME'] }}/.zshrc"
  register: result

- name: Copy zsh configuration files to {{ ansible_facts['env']['HOME'] }}
  synchronize: src="{{ item.src }}" dest="{{ item.dest }}"
  with_items:
    - { src: '.zshrc', dest: "{{ ansible_facts['env']['HOME'] }}/" }
    - { src: '.zsh_aliases', dest: "{{ ansible_facts['env']['HOME'] }}/" }
  when: "not result.stat.exists or 'zsh-with-home-conf' in ansible_run_tags"

- name: Download zsh plugins with antidote
  shell: |
    source "/usr/share/zsh-antidote/antidote.zsh"
    antidote bundle < /etc/zsh/zsh_plugins > /etc/zsh/zsh_plugins.zsh
  args:
    executable: /bin/zsh
  environment:
    ANTIDOTE_HOME: /etc/zsh/antidote
  become: yes

- name: Change root shell to zsh
  user: name=root shell='/usr/bin/zsh'
  become: yes

- name: Include nodejs role
  include_role:
    name: nodejs
    apply:
      become: yes
  when: install_nodejs
