web_server:
  web_ui: yes
  base_url: /flexget

templates:
  tv-series:
    series:
      agroup:
        - Altered Carbon
        - Better Call Saul
        - Black Mirror
        - Chernobyl
        - Dispatches from Elsewhere
        - Fear The Walking Dead
        - Final Space
        - Game of Thrones
        - Humans
        - Jessica Jones
        - Marvels Daredevil
        - Marvels Runaways
        - Marvels The Punisher
        - Mr Robot
        - My Little Pony Friendship is Magic
        - Once Upon a Time
        - Philip K Dicks Electric Dreams
        - Rick and Morty
        - Star Trek Discovery
        - Star Trek Picard
        - Stranger Things
        - The Act
        - The Good Place
        - The Mandalorian
        - The Walking Dead
        - The Walking Dead World Beyond
        - Watchmen
        - Westworld

tasks:
  update_series:
    rss: {{ flexget_rss_url }}
    all_series: yes
    sort_by:
      field: quality
      reverse: yes
    transmission:
      host: 172.17.0.1
      port: 9091
      path: /downloads/tv_shows/{{ '{{' }}series_name{{ '}}' }}/Season {{ '{{' }}series_season{{ '}}' }}
      add_paused: no
      {% if transmission_web_user != '' %}
      username: {{ transmission_web_user }}
      password: {{ transmission_web_passwd }}
      {% endif %}

schedules:
  - tasks: update_series
    schedule:
      hour: 4-17/1
