web_server:
  web_ui: yes
  base_url: /flexget

tasks:
  update_series:
    rss: {{ flexget_rss_url }}
    all_series: yes
    sort_by:
      field: quality
      reverse: yes
    transmission:
      host: 172.17.0.1
      port: 9091
      path: /downloads/tv_shows/{{ '{{' }}series_name{{ '}}' }}/Season {{ '{{' }}series_season{{ '}}' }}
      add_paused: no
      {% if transmission_web_user != '' %}
      username: {{ transmission_web_user }}
      password: {{ transmission_web_passwd }}
      {% endif %}

schedules:
  - tasks: update_series
    schedule:
      hour: 4-17/1
