# {{ ansible_managed }}

server {
    listen 80;
    listen [::]:80;
    {% if host_name.split('.') | count == 2 %}
    server_name {{ host_name }} www.{{ host_name }};
    {% else %}
    server_name {{ host_name }};
    {% endif %}
    include snippets/letsencrypt.conf;

    location / {
        return 301 https://$host$request_uri;
    }
}

server {
    listen 443 ssl;
    listen [::]:443 ssl;
    {% if host_name.split('.') | count == 2 %}
    server_name {{ host_name }} www.{{ host_name }};
    {% else %}
    server_name {{ host_name }};
    {% endif %}
    include snippets/ssl-{{ host_name }}.conf;

    access_log {{ logs_dir }}/{{ host_name }}_access.log;
    error_log  {{ logs_dir }}/{{ host_name }}_error.log;

    {% if server_block_beginning is defined %}{{ server_block_beginning }}{% endif %}

    location / {
        {% if location_block_beginning is defined %}{{ location_block_beginning }}{% endif %}
        {% if http_port.split(':') | count == 2 %}
        proxy_pass http://127.0.0.1:{{ http_port.split(':')[1] }};
        {% else %}
        proxy_pass http://127.0.0.1:{{ http_port }};
        {% endif %}
        include snippets/proxy_params.conf;
        {% if location_block_ending is defined %}{{ location_block_ending }}{% endif %}
    }

    {% if server_block_ending is defined %}{{ server_block_ending }}{% endif %}
}
