---
- name: Uninstall any existing vim
  pacman: name=vim state=absent
  become: yes
  ignore_errors: yes

- name: Install gvim
  pacman: name=gvim state=present update_cache=yes
  become: yes

- name: Uninstall vi
  pacman: name=vi state=absent
  become: yes
  ignore_errors: yes

- name: Deploy vim configuration via git
  git:
    repo: 'https://github.com/timss/vimconf.git'
    dest: "{{ ansible_env.HOME }}/vimconf"

- name: Create .vimrc symlink
  file:
    src: "{{ ansible_env.HOME }}/vimconf/.vimrc"
    dest: "{{ ansible_env.HOME }}/.vimrc"
    state: link

- name: Deploy .vimrc.last
  template:
    src: '.vimrc.last.j2'
    dest: "{{ ansible_env.HOME }}/.vimrc.last"
