# {{ ansible_managed }}

log {
	source(s_local);
	filter { program("tswbot"); };
	destination {
		file("/srv/irc/tsw/logs/output.log" template(no_header));
		pipe("/srv/irc/tsw/pipe.out" template(no_header));
	};
};

log {
	source(s_local);
	filter { program("swlbot"); };
	destination {
		file("/srv/irc/swl/logs/output.log" template(no_header));
		pipe("/srv/irc/swl/pipe.out" template(no_header));
	};
};
