[Unit]
Description=SWL Chat Bot
After=network-online.target

[Service]
User=http
Group=http
Type=simple
ExecStart=/srv/irc/swl/swlbot
ExecReload=/usr/bin/kill -USR1 $MAINPID
WorkingDirectory=/srv/irc/swl
Restart=on-abnormal

[Install]
WantedBy=multi-user.target
